* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #66ffcc, #3399ff);
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: #333;
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f2f2f2;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3399ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #66ffcc;
}

.login-link {
    margin-top: 15px;
}

.login-link p {
    font-size: 14px;
    color: #333;
}

.login-link a {
    color: #3399ff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
